.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: white;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.flex-row {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.middle {
  flex: 50%;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .flex-row {
    flex-direction: column;
  }
}

.menuItem {
  padding-right: 2pc;
}

.content-column {
  padding-right: 2pc;
  margin-left: 2pc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ul-unordered {
  list-style-type: none;
}

.link-not-underlined {
  text-decoration: none;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: none;
  color: #61dafb;
  font-size: 1.5pc;
  cursor: pointer;
}
